.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

del {
  color: #b31d28;
  background-color: #ffeef0;
}

ins {
  color: #22863a;
  background-color: #f0fff4;
}

del + ins {
  color: #e36209;
  background-color: #ffebda;
}
